{% extends 'base.html' %}

{% block body %}
<div class="form-login">
    <form action="/login" method="POST">
        <div>
            <img class="img">
        </div>
        <div class="sesion" style="text-align: center;">
            <h2 style="font-size: 25px;">Formulario de login</h2>
        </div>
        <div>
            {% block bo2 %} {% endblock %}
        </div>
        <div class="input-text">            
            <ul><input class="textfield" type="text" name="username" placeholder="Ingresa tu usuario"></ul>
            <ul><input class="textfield" type="password" name="pass1" placeholder="Ingresa tu contraseña"></ul>
            <ul><input class="boton" type="submit" value="Logueate"></ul>
        </div>
        <div>
            <img class="img">
        </div>
    </form>
</div>


{% endblock %}